.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover,
.gallery-item:focus {
    transform: scale(1.04);
}

.gallery-image {
    max-width: 100%;
    object-fit: cover;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .gallery-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .gallery-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}